.main-base-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh);
    background: transparent !important;
    width: 100vw;
    // overflow: hidden !important;
    // overflow:  !important;

    @media screen and (max-width: 500px) {
        // height: calc(100vh - 80px);
    }
    #parallax {
        pointer-events: none;
        touch-action: none;
        opacity: 0;
        position: fixed;
        width: 100%;
        height: 100vh;

        background-image: url(../../static/Assets/Image/Icon/ALogoWhite.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-position: 22.34% 69.745%, 47.34% 49.745%, 47.34% 49.745%;

        @media screen and (max-width: 500px) {
            height: calc(100vh);
            background-position: 25% 50%;
            background-size: auto 120vh;
        }
      }
    .ant-layout {
        background: transparent;
    }
    // .base-content {
    //     // margin-top: 10px;
    //     .base-container {
    //         // min-height: calc(100vh - 102px);
    //     }
    // }



    .contentLayout {
        width: 100%;
        // background-color: yellow;
        position: relative;
        display: flex;
        flex-basis: auto;
        justify-content: flex-start;
        flex-direction: column;
        max-width: 1440px;  
        align-self: center;  
        // mobile
        @media screen and (max-width: 768px) {
          margin-top: 10px;
            // position: fixed;
          // 64px is header height
          min-height: calc(100vh - 80px - 20px);
        }
    
        // desktop
        @media screen and (min-width: 768px) {
          min-width: 768px;
          // 71px is footer height
          min-height: calc(100vh - 130px);
          // calc(64px + 25px)
          // => 64px is header height
          // => 25px is padding top from header
        }
      }


      .UserInfoBox {
        z-index: 10000;
        position: fixed;
        bottom: 1rem;
        right: 1rem;

        display: flex;
        align-items: center;      
        background: whitesmoke;
        transition: 300ms all !important;
        padding: 10px 20px;
        border-radius: 100px;
        border: 1px solid #d6d6d6;

        &:hover {
          cursor: pointer;
          transition: 0.15s ease-in;
          background-color: whitesmoke;
          padding: 1.1em 1.5em;
          border-radius: 20px;
        }
      }
}

.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled) {
  background-color: #b0a6a3 !important;
}

.ant-cascader-menu-item-active {
  background-color: #b0a6a3 !important;

}

.customerInfoBoxContainer {
  padding: 0 5px;
  padding-top: 20px;
  padding-bottom: 30px;
  // max-height: 33vh;
  // overflow-y: scroll;
  // flex: 1;
  // max-height: 30vh;

  @media screen and (max-width: 768px) {
    padding: 0 !important;
    padding-top: 40px;
    padding-bottom: 50px;
  }	

  .titleCustomerInfoBox {
    width: 100%;
    font-weight: 500;
    align-self: center;
    text-align: center;
    font-size: 26px;
    color: black;
  }


  .phoneBox {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .phoneTxt {
      margin-top: 10px;
      width: 300px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }	
  }

  .typeTranferBox {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .typeTranferTxt {
      margin-top: 10px;
      width: 300px;
    }
  }
}
