.main-base-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh);
    background: transparent !important;
    width: 100vw;
    // overflow: hidden !important;
    // overflow:  !important;

    @media screen and (max-width: 500px) {
        // height: calc(100vh - 80px);
    }
    #parallax {
        pointer-events: none;
        touch-action: none;
        opacity: 0;
        position: fixed;
        width: 100%;
        height: 100vh;

        background-image: url(../../static/Assets/Image/Icon/ALogoWhite.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-position: 22.34% 69.745%, 47.34% 49.745%, 47.34% 49.745%;

        @media screen and (max-width: 500px) {
            height: calc(100vh);
            background-position: 25% 50%;
            background-size: auto 120vh;
        }
      }
    .ant-layout {
        background: transparent;
    }
    // .base-content {
    //     // margin-top: 10px;
    //     .base-container {
    //         // min-height: calc(100vh - 102px);
    //     }
    // }

    .contentLayout {
        width: 100%;
        // background-color: yellow;
        position: relative;
        display: flex;
        flex-basis: auto;
        justify-content: flex-start;
        flex-direction: column;
        max-width: 1440px;  
        align-self: center;  
        // mobile
        @media screen and (max-width: 768px) {
            // position: fixed;
          // 64px is header height
          min-height: calc(100vh - 80px - 20px);
        }
    
        // desktop
        @media screen and (min-width: 768px) {
          min-width: 768px;
          // 71px is footer height
          min-height: calc(100vh - 130px);
          // calc(64px + 25px)
          // => 64px is header height
          // => 25px is padding top from header
        }
      }
}
