{
  "presets" : [
    [
      "next/babel"
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "common": "./common",
          "controller": "./controller",
          "static": "./static",
          "assets": "./assets",
          "pages": "./pages"
        }
      }
    ],
    [
      "@babel/plugin-transform-async-generator-functions"
    ],
    "@babel/plugin-syntax-dynamic-import"
  ]
}
