.store-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // overflow: scroll;
    // background-color: red;
    position: relative;
    padding-bottom: 0 !important;
    .category-container {
        width: 100%;
        padding: 0 !important;
        // max-width: 1400px;
        // background-color: rgba($color: #BDBDBD, $alpha: 0.1);
        background-color: rgba($color: #fff, $alpha: 0.7);
        // height: calc(100vh - 160px);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        overflow-x: auto;
        position: sticky !important;
        z-index: 1000;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;

        .category-container-box {
            display: flex;
            width: 100%;
            max-width: 1600px;
            overflow-x: scroll;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 768px) {
                justify-content: flex-start;
            }

            .tag-box {
                flex: auto;
                padding: 15px !important;
                white-space: nowrap;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                @media screen and (max-width: 768px) {
                    min-width: 25vw;
                    padding: 0 10px;
                }
    
                .tag-product-box-content {
                    max-height: 60px;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    bottom: 10px;
                    z-index: 10;

                    @media screen and (max-width: 768px) {
                        max-height: 40px;
                    }
                    .tag-product-content {
                        width: 90%;
                        color: floralwhite;
                        font-size: 15px;
                        font-weight: bold;
                        text-align: center;
                        @media screen and (max-width: 768px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .body-box {
        width: 100%;
        min-height: 100vh;
        background-color: rgba($color: #fff, $alpha: 0.5);
        backdrop-filter: blur(4px);

        .listItem-box {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding-bottom: 5vh;

            @media screen and (max-width: 768px) {
                padding-bottom: 0vh;
            }

            .item-container {
                // min-width: 33vw;
                width: 25vw;
                // height: 25vw;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                box-shadow: none; 
                transition: all 1s;
                z-index: 1;

                @media screen and (max-width: 567px) {
                    width: 50vw;
                    // height: 50vw;
                }


                @media screen and (min-width: 2000px) {
                    width: 20vw;
                    // height: 20vw;
                }
            
                .big-avatar-img-box {
                    width: 100%;
                    height: 100%;
                    .big-avatar-img {
                        width: 24.75vw;
                        height: 25vw;
                        // width: 100%;
                        // height: 100%;
                        object-fit: cover;
                        &:hover {
                            transition: all 0.4s;
                            cursor: pointer;
                            z-index: 1000;
                            box-shadow: 0 1px 12px rgba(33,33,33,.3); 
                        }

                        @media screen and (max-width: 567px) {
                            width: 49.7vw;
                            height: 49.7vw;
                        }
        
        
                        @media screen and (min-width: 2000px) {
                            width: 19.9vw;
                            height: 20vw;
                        }
                    }
            
                    .detail-box {
                        margin: 10px 0 20px 0;
                        min-width: 12.4vw;
                        padding: 5px 1.5vw;
                        display: flex;
                        flex-direction: column;
                        justify-items: flex-end;
                        align-items: flex-start;
                        text-align: left !important;
                        text-transform: uppercase;
                        overflow: auto;
                        @media screen and (max-width: 567px) {
                            padding: 5px 3vw;
                        }
                        @media screen and (min-width: 2000px) {
                            min-width: 10vw;
                        }
                        .detail-box-name {
                            color: #2e2e2e;
                            font-family: 'myriadpro-bold' !important;
                            font-size: 15px !important;
                            @media screen and (min-width: 2000px) {
                                font-size: 17px;
                            }
                        }
                
                        .detail-box-price {
                            font-family: 'myriadpro-bold' !important;
                            // font-weight: 500 !important;
                            font-size: 15px !important;
                            @media screen and (min-width: 2000px) {
                                font-size: 17px;
                            }
                        }
                    }
                }
            
                .small-avatar-img-box-container {
                    height: 100%;
            
                    .small-avatar-img-box {
                        width: 100%;
                        height: 25%;
                        .small-avatar-img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
        .noitem-box {
            max-width: 500px;
            cursor: pointer;
            width: 50vw;
            margin: 30vh auto 0 auto;
            padding: 5px;
            align-self: center;
            border: 1px solid gray;
            text-align: center;
            span {
                text-align: center;
                color: black;
            }

            @media screen and (max-width: 567px) {
                width: 80vw;
            }            
        }
        .load-more-button {
            cursor: pointer;
            width: 50vw;
            align-self: center;
            padding: 5px 0 !important;
            margin: 5vh auto 10vh auto !important;
            border: 1px solid gray;
            text-align: center;
            @media screen and (max-width: 567px) {
                margin: 5vh auto 20vh auto !important;
            }
            span {
                text-align: center;
                color: black;
            }
        }
    }
}

// .active-scroll-spy {
//     border-radius: 15px;
// }

// .test-component-0 {
//     // height: 5vh;
// }

// .test-component-1 {
//     height: 100vh;
//     width: 100vw;
//     scroll-snap-align: center;
//     // background-color: #F2F2F2;
//     background-color: rgba($color: #BDBDBD, $alpha: 0.1);
//     backdrop-filter: blur(5px);
// }

// .test-component-2 {
//     height: 100vh;
//     width: 100vw;
//     scroll-snap-align: start;
//     // background-color: #E0E0E0;
//     // background-color: transparent;
//     background-color: rgba($color: #E0E0E0, $alpha: 0.4);
//     // background-color: rgba($color: #BDBDBD, $alpha: 0.1);

//     backdrop-filter: blur(5px);
// }
// .test-component-3 {
//     height: 100vh;
//     width: 100vw;
//     scroll-snap-align: start;
//     // background-color: #BDBDBD;
//     background-color: rgba($color: #BDBDBD, $alpha: 0.3);
//     // background-color: rgba($color: #BDBDBD, $alpha: 0.1);

//     backdrop-filter: blur(5px);
// }
// .test-component-4 {
//     height: 100vh;
//     width: 100vw;
//     scroll-snap-align: start;
//     // background-color: #828282;
//     // background-color: transparent;
//     background-color: rgba($color: #828282, $alpha: 0.3);
//     // background-color: rgba($color: #BDBDBD, $alpha: 0.1);

//     backdrop-filter: blur(5px);
// }

// .test-component-5 {
//     height: 100vh;
//     width: 100vw;
//     scroll-snap-align: start;
//     background-color: rgba($color: #4F4F4F, $alpha: 0.3);
//     // background-color: rgba($color: #BDBDBD, $alpha: 0.1);

//     backdrop-filter: blur(5px);
// }

// .test-component-6 {
//     height: 100vh;
//     width: 100vw;
//     scroll-snap-align: start;
//     // background-color: #3b3b3b;
//     // background-color: transparent;
//     background-color: rgba($color: #3b3b3b, $alpha: 0.3);
//     // background-color: rgba($color: #BDBDBD, $alpha: 0.1);

//     backdrop-filter: blur(5px);
// }

// .test-component-7 {
//     height: 100vh;
//     width: 100vw;
//     scroll-snap-align: start;
//     background-color: rgba($color: #0a0a0a, $alpha: 0.28);
//     // background-color: rgba($color: #BDBDBD, $alpha: 0.1);
//     backdrop-filter: blur(5px);
// }