.store-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: red;
    position: relative;

    .top-of-site-link {
        visibility:visible;
        opacity: 0;
        transition: .2s;
        position: fixed;
        bottom: 1.2rem;
        right: 1.5rem;
        z-index: 150;
    }

    .category-container {
        width: 100%;
        padding: 20px 0;
        // max-width: 1400px;
        background-color: rgba($color: #BDBDBD, $alpha: 0.1);
        // height: calc(100vh - 160px);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        overflow-x: auto;
        position: sticky;
        top: 0px;
        z-index: 1000;

        // :hover {
        //     margin-top: 20px;
        //     transition: 1s all;
        //     // padding-bottom: 50px;
        // }

        // @media screen and (max-width: 768px) {
        //     width: 1000px;
        //     top: -30px;
        //     overflow-x: scroll;
        // }

        .customDelay-0 {
            --animate-delay: 1s;
        }

        .customDelay-1 {
            --animate-delay: 1.1s !important;
        }

        .customDelay-2 {
            --animate-delay: 1.2s;
        }

        .customDelay-3 {
            --animate-delay: 1.3s;

        }

        .customDelay-4 {
            --animate-delay: 1.4s;

        }

        .customDelay-5 {
            --animate-delay: 1.5s
        }

        .customDelay-6 {
            --animate-delay: 1.6s
        }

        .category-container-box {
            display: flex;
            width: 100%;
            max-width: 1600px;
            overflow-x: scroll;
            justify-content: space-around;
            align-items: center;
            @media screen and (max-width: 768px) {
                justify-content: flex-start;
            }

            .tag-box {
                white-space: nowrap;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                @media screen and (max-width: 768px) {
                    min-width: 25vw;
                    padding: 0 10px;
                }
                .tag-img {
                    max-width: 250px;
                    max-height: 250px;
                    object-fit: contain;
                    @media screen and (max-width: 768px) {
                        max-height: 100px;
                        max-width: 100px;
                        z-index: -1;
                    }
                }
    
                .tag-product-box-content {
                    max-height: 60px;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    bottom: 10px;
                    z-index: 10;

                    @media screen and (max-width: 768px) {
                        max-height: 40px;
                    }
                    .tag-product-content {
                        width: 90%;
                        color: floralwhite;
                        font-size: 15px;
                        font-weight: bold;
                        text-align: center;
                        @media screen and (max-width: 768px) {
                            display: none;
                        }
                    }
                    .tag-img-product {
                        // height: 50%;
                        max-height: 60px;
                        object-fit: contain;
                        width: 100%;
                        z-index: 10;
        
                        @media screen and (max-width: 768px) {
                            max-height: 40px;
                        }
                    }
                }
            }
        }
    }
}

.active-scroll-spy {
    border-radius: 15px;
}

.test-component-0 {
    // height: 5vh;
}

.test-component-1 {
    height: 100vh;
    width: 100vw;
    // background-color: #F2F2F2;
    background-color: rgba($color: #BDBDBD, $alpha: 0.1);
}

.test-component-2 {
    height: 100vh;
    width: 100vw;
    // background-color: #E0E0E0;
    // background-color: transparent;
    background-color: rgba($color: #E0E0E0, $alpha: 0.4);
}
.test-component-3 {
    height: 100vh;
    width: 100vw;
    // background-color: #BDBDBD;
    background-color: rgba($color: #BDBDBD, $alpha: 0.3);
}
.test-component-4 {
    height: 100vh;
    width: 100vw;
    // background-color: #828282;
    // background-color: transparent;
    background-color: rgba($color: #828282, $alpha: 0.3);
}

.test-component-5 {
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #4F4F4F, $alpha: 0.3);
}

.test-component-6 {
    height: 100vh;
    width: 100vw;
    // background-color: #3b3b3b;
    // background-color: transparent;
    background-color: rgba($color: #3b3b3b, $alpha: 0.3);
}

.test-component-7 {
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #0a0a0a, $alpha: 0.3);
}