
.consignment-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    .button-confirm-box { 
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .button-confirm-box {
        .ant-form-item-control-input-content {
            display: flex !important;
            justify-content: center !important;
        }
    }
    .productListBox {
        display: flex !important;
        width: 90%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .product-box {
            display: flex !important;
            width: 100%;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }
}