.searchform-home-container {
  width: 100%;
  height: calc(100vh - 125.5px);
  display: flex;
  justify-content: center;
  align-items: center;

    .searching-form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .text-searching-title {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.694);
        margin-bottom: 30px;

        @media screen and (max-width: 700px) {
          font-size: 17px;
        }
      }
      .searching-box {
        max-width: 500px;
        position: absolute;
        opacity: 0;
        transition: 0.5s all;
        transform: translate(-10vw, 0px);

        &.show {
          opacity: 1;
          position: relative;
          z-index: 1000;
          transform: translate(0);
        }
      }

      .searching-table {
        transform: translate(-10vw, 0px);
        transition: 0.5s all;
        opacity: 0;
        padding-top: 125.5px !important;
        // height: calc(100vh - 125.5px) !important;
        // overflow-y: scroll !important;
        position: absolute !important;

        align-items: center;
        display: flex;
        justify-content: center;
        // @media screen and (max-width: 700px) {
        //   flex-basis: 40%;
        //   transform: translate(-50vw, 0px);
        // }

        .back-button {
          padding: 10px 0 40px 0;
          // position: absolute;
          // bottom: 0;
        }

        @media screen and (max-width: 700px) {
          height: 90%;
        }

        &.show {
            width: 90vw;
            position: relative;
            opacity: 1;
            transform: translate(0);


            @media screen and (max-width: 700px) {
              width: 96vw;
            }
        }

        .gacha-machine-list {
          height: 90vh !important;
        }

        .radio-true-isGetMoney {
          width: 100%;
          background: #b2dd4d;
          display: flex;
          border-radius: 4px !important;
          justify-content: center;
          text-align: center;
        } 
  
        .radio-false-isGetMoney {
            width: 100%;
            display: flex;
            border-radius: 4px !important;
            justify-content: center;
            text-align: center;
        }

        .note-box {
          background-color: whitesmoke;
          padding: 5%;
          border: 1px solid gainsboro;
          border-radius: 5px;
        }
  
      }
    }
}